<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <script>
            if (typeof module === 'object') { window.module = module; module = undefined; }
        </script>
        <script src="../../js/jquery-3.2.1.js"></script>
        <script>
            if (window.module) module = window.module;
        </script>
    <link rel="stylesheet" href="../../css/login/register.css">
</head>
<body>
<div class="container">
    <ul class="regt">
        <li class="logo">
            <span>欢迎注册悦商云</span>
        </li>
        <li class="position">
            <input autocomplete="off" class="user" placeholder="请输入账号">
            <input autocomplete="off" class="pwd" placeholder="请输入密码">
            <input autocomplete="off" class="pwd" placeholder="手机号码">
            <input autocomplete="off" class="pwd" placeholder="手机验证码">
            <a class="getbtn">获取</a>
        </li>
        <li>
            <a class="login" id="register">注&nbsp;册</a>
        </li>
    </ul>
    <ul class="complate hidden">
        <li class="success">
            <span>恭喜你！注册成功</span>
            <span>请完善你的店铺信息，即刻开始收银！</span>
        </li>
        <li class="position">
            <input autocomplete="off" class="user" placeholder="店名">
            <input autocomplete="off" class="pwd" placeholder="地址">
            <input autocomplete="off" class="pwd" placeholder="详细地址">
            <input autocomplete="off" class="pwd" placeholder="行业">
            <input autocomplete="off" class="pwd" placeholder="邮箱">
            <div class="address">
                <ul>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                </ul>
                <ul>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                </ul>
                <ul>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                    <li>山东省</li>
                    <li>河南省</li>
                    <li>湖南省</li>
                </ul>
            </div>
        </li>
        <li>
            <a class="login">开始使用</a>
        </li>
    </ul>
    <img src="../../img/banner.png" class="banner">
</div>
<script src="../../js/login.js"></script>
</body>
</html>