* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
em,
p,
font,
img,
small,
strong,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
body {
  font-family: MicrosoftYaHei,Arial;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 600;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.clear:before {
  content: "";
  display: table;
}
.hidden {
  display: none;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.radius {
  border-radius: 50%;
}
.position {
  position: relative;
  top: 0;
  left: 0;
}
.container {
  border: 1px solid #ccc;
  color: #333;
  width: 722px;
  height: 512px;
}
.container .right {
  text-align: center;
  float: right;
  width: 360px;
}
.container .banner {
  width: 360px;
  height: 510px;
}
.container .we_login {
  font-size: 26px;
  margin: 35px 0;
}
.container .scan {
  margin: 14px auto;
  width: 300px;
  height: 52px;
  border-radius: 50px;
  background: #f7f8fa;
  text-align: center;
  padding: 10px;
}
.container .scan span {
  line-height: 14px;
  width: 168px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.container .more {
  color: #999999;
  line-height: 18px;
}
.container .more b {
  display: inline-block;
  width: 98px;
  height: 1px;
  background-color: #d8d8d8;
  vertical-align: middle;
  margin: -3px 4px 0;
}
.container .cut a {
  display: inline-block;
  width: 25%;
  margin: 24px 22px 0;
}
.container .cut a:hover {
  color: #f49628;
}
.container .cut img,
.container .cut span {
  display: block;
  margin: 0 auto;
}
.container .cut img {
  width: 54px;
  margin-bottom: 8px;
}
.account {
  text-align: center;
  float: right;
  width: 360px;
}
.account .logo {
  width: 100%;
  height: 280px;
  font-size: 18px;
  padding-top: 93px;
}
.account .logo img,
.account .logo span {
  display: block;
  margin: 0 auto;
}
.account .logo img {
  margin-bottom: 14px;
}
.account .user,
.account .pwd {
  width: 220px;
  border: transparent;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
  height: 22px;
  padding-bottom: 4px;
  color: #333;
}
.account .pwd {
  margin-bottom: 9px;
}
.account ::-webkit-input-placeholder {
  color: #b5b5b5;
}
.account :-moz-placeholder {
  color: #b5b5b5;
}
.account :-ms-input-placeholder {
  color: #b5b5b5;
}
.account .pwd-controll {
  width: 220px;
  margin: 0 auto 35px;
  text-align: left;
}
.account .pwd-controll span {
  font-size: 12px;
  color: #666;
}
.account .pwd-controll span b {
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
  background: #d8d8d8;
}
.account .pwd-controll span b.active {
  background: #f39221;
}
.account .login {
  display: block;
  width: 220px;
  height: 38px;
  border-radius: 20px;
  background-color: #ffb823;
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  margin: 0 auto;
}
.account .login:hover {
  background: #f49628;
}
.account .cut-ac {
  color: #f18506;
  margin-top: 12px;
}
.account .cut-ac b {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #f18506;
  margin: 0 10px;
}
