<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>升级</title>
    <link rel="stylesheet" href="../css/upgrde/new_version.css">
    <script src="../js/upgrade.js"></script>
    <script src="../res/jquery-3.2.1.js"></script>
</head>
<body>
<ul class="container clear">
    <li class="header clear">
        <a class="close float-right"></a>
        <h2>新版本安装中！</h2>
        <span>V1.0.2</span>
    </li>
    <li>
        <img src="../../img/upgrade/upgrade.png">
    </li>
    <li class="pro">
        <div class="percentage">0%</div>
        <span class="arrow"></span>
    </li>
    <li class="progress">
        <span class="progrs"></span>
    </li>
    <li class="txt">新版本正在努力安装中，请稍等</li>
</ul>
</body>
</html>